<ion-header>

  <ion-navbar>
    <ion-title>{{ 'AREAS_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <button ion-button full *ngIf="!allOffline && !loading" (click)="updateAll()">Download Data</button>

  <ion-row justify-content-center>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-row>

  <ion-list *ngIf="allOffline">
    <button ion-item *ngFor="let area of currentAreas" (click)="openArea(area)">
      <h2>{{area.name}}</h2>
    </button>
  </ion-list>

</ion-content>
