<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="profile">
    <img src="http://dev.dassie.co/{{ profile.profile_image }}"/>
    <ion-card-content>
      <ion-card-title>{{ profile.user.name }}</ion-card-title>
    </ion-card-content>
  </ion-card>
  <button ion-button full primary *ngIf="profile" (click)="editAccount()">Edit Account</button>
  <button ion-button full primary *ngIf="!profile" (click)="createAccount()">Create Account</button>

</ion-content>
